<section class="container">
  <section class="form-container">
    <h2>New Character</h2>
    <form id="new-character-form" class="character-form"
    (ngSubmit)="createNew(addForm)" #addForm=ngForm novalidate>

      <div class="field">
        <label for="name">Name: </label>
        <input [(ngModel)]="nameAdd" type="text" name="name">
      </div>

      <div class="field">
        <label for="occupation">Occupation: </label>
        <input [(ngModel)]="occAdd" type="text" name="occupation">
      </div>

      <div class="field">
        <label for="weapon">Weapon: </label>
        <input [(ngModel)]="weaponAdd" type="text" name="weapon">
      </div>

      <div class="field">
        <label for="debt">Has debt: </label>
        <input [(ngModel)]="deptAdd" name="debt" type="checkbox">
      </div>

      <button id="send-data" type="submit">Create</button>

    </form>
  </section>
  <section class="form-container">
    <h2>Edit Character</h2>

    <form id="edit-character-form" class="character-form"
     (ngSubmit)="editOne(addForm)" #addForm=ngForm novalidate>

      <div class="field">
        <label for="id">ID: </label>
        <input [(ngModel)]="idToEdit" type="text" name="chr-id">
      </div>

      <div class="field">
        <label for="name">Name: </label>
        <input [(ngModel)]="nameEdit" type="text" name="name">
      </div>

      <div class="field">
        <label for="occupation">Occupation: </label>
        <input [(ngModel)]="occEdit" type="text" name="occupation">
      </div>

      <div class="field">
        <label for="weapon">Weapon: </label>
        <input [(ngModel)]="weaponEdit" type="text" name="weapon">
      </div>
      <div class="field">
        <label for="debt">Has debt: </label>
        <input [(ngModel)]="debtEdit" name="debt" type="checkbox">
      </div>
      <button id="send-data" type="submit">Update</button>
    </form>
  </section>
</section>
